*{
    margin: 5px;
}

body{
    font-family:cursive;
}

.navbar{
    background-color: rgb(240, 80, 80);
    border: 3px solid black;
    font-size: 18pt;
    
}

.nav-item > a{
    margin: auto;
    padding: auto;
    -webkit-text-fill-color: black;
    border-bottom: 5px dotted transparent;
}

.nav-item > a:hover{
    -webkit-text-fill-color: yellow;
    border-bottom: 5px dotted cornflowerblue;
}

.container{
    display: block;
    width: 80%;
    align-content:center;
}

.table{
    border: 5px dotted cornflowerblue;
}

.gallery-image{
    border: 2px solid black;
    height: auto;
    object-fit: cover;
}